<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6291ae">  <td>24/01/05 11:50:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.lunchApplication()[pri:0, instance:source.TestClass@19e4fcac]">&gt;&gt;lunchApplication</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@85415531</td>   <td></td> </tr>
<tr bgcolor="bb6df1">  <td>24/01/05 11:50:36</td>   <td>-2081</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.ValidateOrdersList()[pri:0, instance:source.TestClass@19e4fcac]">ValidateOrdersList</td> 
  <td>TestNG-tests-1@85415531</td>   <td></td> </tr>
<tr bgcolor="bb6df1">  <td>24/01/05 11:50:46</td>   <td>7764</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.error()[pri:0, instance:source.TestClass@19e4fcac]">error</td> 
  <td>TestNG-tests-1@85415531</td>   <td></td> </tr>
<tr bgcolor="6291ae">  <td>24/01/05 11:50:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.lunchApplication()[pri:0, instance:source.TestClass@19e4fcac]">&gt;&gt;lunchApplication</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@85415531</td>   <td></td> </tr>
</table>
