<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="976fbc">  <td>23/12/23 11:40:38</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;TestngOne.one()[pri:0, instance:yarago.testng.com.TestngOne@5d0bf09b]">&lt;&lt;one</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@771418758</td>   <td></td> </tr>
</table>
