<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>smoke</td><td>Demo.ex()[pri:0, instance:yarago.testng.com.Demo@4082ba93]<br/></td></tr>
</table>
