<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ccdbb5">  <td>23/12/26 11:54:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestngOne.URL(java.lang.String)[pri:0, instance:yarago.testng.com.TestngOne@5149d738]">URL</td> 
  <td>main@352367347</td>   <td></td> </tr>
<tr bgcolor="a9a797">  <td>23/12/26 11:54:14</td>   <td>11694</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Demo.ex()[pri:0, instance:yarago.testng.com.Demo@4082ba93]">ex</td> 
  <td>main@352367347</td>   <td></td> </tr>
<tr bgcolor="ccdbb5">  <td>23/12/26 11:54:14</td>   <td>11603</td> <td>&nbsp;</td><td title="&lt;&lt;TestngOne.one()[pri:0, instance:yarago.testng.com.TestngOne@5149d738]">&lt;&lt;one</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@352367347</td>   <td></td> </tr>
<tr bgcolor="ccdbb5">  <td>23/12/26 11:54:14</td>   <td>11581</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestngOne.three()[pri:0, instance:yarago.testng.com.TestngOne@5149d738]">three</td> 
  <td>main@352367347</td>   <td></td> </tr>
<tr bgcolor="ccdbb5">  <td>23/12/26 11:54:02</td>   <td>-61</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestngOne.two()[pri:0, instance:yarago.testng.com.TestngOne@5149d738]">two</td> 
  <td>main@352367347</td>   <td></td> </tr>
</table>
