<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8ed89b">  <td>24/01/05 11:22:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.ValidateOrdersList()[pri:0, instance:source.TestClass@460ebd80]">ValidateOrdersList</td> 
  <td>main@1671590089</td>   <td></td> </tr>
<tr bgcolor="8ed89b">  <td>24/01/05 11:22:35</td>   <td>9666</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.error()[pri:0, instance:source.TestClass@460ebd80]">error</td> 
  <td>main@1671590089</td>   <td></td> </tr>
<tr bgcolor="8c8a62">  <td>24/01/05 11:22:27</td>   <td>1786</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.lunchApplication()[pri:0, instance:source.TestClass@460ebd80]">&gt;&gt;lunchApplication</td> 
<td>&nbsp;</td>  <td>main@1671590089</td>   <td></td> </tr>
<tr bgcolor="8c8a62">  <td>24/01/05 11:22:27</td>   <td>1786</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.lunchApplication()[pri:0, instance:source.TestClass@460ebd80]">&gt;&gt;lunchApplication</td> 
<td>&nbsp;</td>  <td>main@1671590089</td>   <td></td> </tr>
</table>
