<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6be399">  <td>24/01/04 17:40:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Extends.getExtends()[pri:0, instance:Extends@73e22a3d]">&gt;&gt;getExtends</td> 
<td>&nbsp;</td>  <td>main@540325452</td>   <td></td> </tr>
<tr bgcolor="6be399">  <td>24/01/04 17:40:16</td>   <td>738</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Extends.geturl()[pri:0, instance:Extends@73e22a3d]">geturl</td> 
  <td>main@540325452</td>   <td></td> </tr>
</table>
